.ant-card-cover {
  min-height: 200px;
}
.ant-layout-content {
  min-height: calc(95vh - 90px);
}
.infinite-scroll-component {
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

.ant-card {
  cursor: default;
}

.btn-favorites {
  display: flex;
  align-items: center;
}

.btn-favorites:hover,
.btn-favorites:focus {
  border-color: #f7eb55;
  color: #cfc002;
}
