.containerPrincipal {
  min-height: 300px;
  width: 70%;
  margin: 2rem auto;
}

.ant-card-cover {
  min-height: 200px;
}
.ant-layout-content {
  min-height: calc(95vh - 90px);
}
.infinite-scroll-component {
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

.ant-card {
  cursor: default;
}

.btn-favorites {
  display: flex;
  align-items: center;
}

.btn-favorites:hover,
.btn-favorites:focus {
  border-color: #f7eb55;
  color: #cfc002;
}

.button-margin-right {
  margin-right: 20px;
}

.share-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infinite-scroll-component__outerdiv {
  width: 100%;
}

.infinite-scroll-component {
  height: auto;
  width: 100%;
}

.loader-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px !important;
}

@media (max-width: 768px) {
  .ui.buttons > .ui.dropdown:last-child .menu,
  .ui.menu .right.dropdown.item .menu,
  .ui.menu .right.menu .dropdown:last-child .menu {
    left: 0;
  }
}
