.ant-layout-content {
  background: #f0f3f5;
}

.containerPrincipal {
  min-height: 300px;
  width: 70%;
  margin: 0 auto;
  padding: 2rem 0;
}

.ant-card-cover {
  min-height: 200px;
}
.ant-layout-content {
  min-height: calc(95vh - 90px);
}
.infinite-scroll-component {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

.ant-card {
  cursor: default;
}

.btn-favorites {
  display: flex;
  align-items: center;
}

.btn-favorites:hover,
.btn-favorites:focus {
  border-color: #f7eb55;
  color: #cfc002;
}

.button-margin-right {
  margin-right: 20px;
}

.share-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infinite-scroll-component__outerdiv {
  width: 100%;
  margin: 0 -20px;
}

.infinite-scroll-component {
  height: auto;
  width: 100%;
  padding: 0 10px;
}

.loader-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px !important;
}

.ant-image {
  width: 100%;
  height: 100%;
}

.ui.menu {
  margin-bottom: 0 !important;
}

.anticon {
  padding: 0 5px;
}

.text-left {
  text-align: left;
}

.my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.text-center {
  text-align: center;
}

.text-muted {
  color: #6c757d !important;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

@media (max-width: 768px) {
  .ui.buttons > .ui.dropdown:last-child .menu,
  .ui.menu .right.dropdown.item .menu,
  .ui.menu .right.menu .dropdown:last-child .menu {
    left: 0 !important;
    right: unset !important;
  }
}
